.mask-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  .mask {
    width: 7.5rem;
    height: 14.48rem;
    background: rgba(0, 0, 0, 0.5);
    .badge-box {
      width: 100%;
      height: 100%;
      background: url(../../assets/images/shinning.png) center center no-repeat;
      background-size: 11.75rem 11.71rem;
      // transition: all 0.3s;
      // transform: shinning 1s infinite;
      // -moz-animation: shinning 1s infinite; /* Firefox */
      // -webkit-animation: shinning 1s infinite; /* Safari 和 Chrome */
      // -o-animation: shinning 1s infinite; /* Opera */
    }
  }
  .panel {
    position: absolute;
    width: 5.58rem;
    height: 7.7rem;
    background: linear-gradient(
      180deg,
      rgba(155, 245, 236, 1),
      rgba(56, 222, 205, 1)
    );
    border-radius: 0.2rem;
    margin: -1rem auto 0;
    display: block;
    padding-top: 1.28rem;
    text-align: center;
    &::after {
      content: '';
      width: 4.85rem;
      height: 3.32rem;
      position: absolute;
      top: -1.4rem;
      left: 50%;
      transform: translateX(-50%);
      background: url(../../assets/images/medal.png) center center no-repeat;
      background-size: cover;
    }
    .title {
      background: url(../../assets/images/badge_title.png) center center
        no-repeat;
      background-size: contain;
      width: 1.42rem;
      height: 0.65rem;
      display: block;
      margin: 0 auto;
    }
    .badge-wrap {
      margin: 0.6rem auto 1.07rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .badge {
        width: 1.27rem;
        height: 0.99rem;
        display: inline-block;
        position: relative;
        background: url(../../assets/images/badge_22.png) center center
          no-repeat;
        background-size: cover;
        &:first-child {
          background: url(../../assets/images/badge_12.png) center center
            no-repeat;
          background-size: cover;
          &::before {
            background: url(../../assets/images/badge_11.png) center center
              no-repeat;
            background-size: cover;
          }
        }
        &:last-child {
          background: url(../../assets/images/badge_32.png) center center
            no-repeat;
          background-size: cover;
          &::before {
            background: url(../../assets/images/badge_31.png) center center
              no-repeat;
            background-size: cover;
          }
        }
        &::before {
          content: '';
          width: 1.27rem;
          height: 0.99rem;
          position: absolute;
          top: 0;
          left: 0;
          background: url(../../assets/images/badge_21.png) center center
            no-repeat;
          background-size: cover;
          display: none;
        }
        &.get::before {
          display: inline-block;
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
          -webkit-animation-duration: 2s;
          animation-duration: 2s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          // -webkit-animation-delay: 1s;
          // animation-delay: 1s;
        }
      }
    }
    p {
      font-size: 0.3rem;
      color: #fff;
      line-height: 0.5rem;
      margin: 0;
    }
    .button {
      width: 4.3rem;
      height: 0.86rem;
      background: url(../../assets/images/btn_long.png) center center no-repeat;
      background-size: cover;
      text-align: center;
      margin: 0.7rem auto 0;
      color: #fff;
      font-size: 0.32rem;
      line-height: 0.86rem;
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shinning {
  0%,
  100% {
    // transform: rotate(-15deg);
    opacity: 1;
  }
  50% {
    // transform: rotate(15deg);
    opacity: 0.2;
  }
}

@-moz-keyframes shinning /* Firefox */ {
  0%,
  100% {
    // transform: rotate(-15deg);
    opacity: 1;
  }
  50% {
    // transform: rotate(15deg);
    opacity: 0.2;
  }
}

@-webkit-keyframes shinning /* Safari 和 Chrome */ {
  0%,
  100% {
    // transform: rotate(-15deg);
    opacity: 1;
  }
  50% {
    // transform: rotate(15deg);
    opacity: 0.2;
  }
}

@-o-keyframes shinning /* Opera */ {
  0%,
  100% {
    // transform: rotate(-15deg);
    opacity: 1;
  }
  50% {
    // transform: rotate(15deg);
    opacity: 0.2;
  }
}
