<div class="mask-wrap">
  <div class="mask" (click)="dismiss()">
    <div class="badge-box" *ngIf="skipBtn"></div>
  </div>
  <div class="panel" *ngIf="skipBtn">
    <span class="title"></span>
    <div class="badge-wrap">
      <span
        class="badge"
        [ngClass]="{ get: getFlag[0] }"
        (click)="sceneDismiss()"
        routerLink="/scene/0"
      ></span>
      <span
        class="badge"
        [ngClass]="{ get: getFlag[1] }"
        (click)="sceneDismiss()"
        routerLink="/scene/1"
      ></span>
      <span
        class="badge"
        [ngClass]="{ get: getFlag[2] }"
        (click)="sceneDismiss()"
        routerLink="/scene/2"
      ></span>
    </div>
    <p *ngIf="toDraw.flag">你获取了一次抽奖机会<br />去抽奖吧！</p>
    <p *ngIf="!toDraw.flag">点击未点亮的徽章按钮<br />集齐可获得抽奖机会哦！</p>
    <div class="button" *ngIf="toDraw.flag" routerLink="/draw">
      去抽奖
    </div>
    <div
      *ngIf="!toDraw.flag"
      class="button"
      [routerLink]="'/scene/' + toDraw.id"
    >
      继续玩
    </div>
  </div>
  <div class="btn-box" *ngIf="showBtn">
    <div class="button" (click)="pauseRetrun(0)">继续</div>
    <div class="button" (click)="pauseRetrun(-1)">跳过</div>
  </div>
</div>
