<ion-content>
  <div class="content">
    <div class="wrap">
      <div class="card" [ngClass]="'award' + awardId">
        <div class="card-top">
          <span class="img-box">
            <img [src]="awardImgList[awardList.awardLevel]" alt="" />
          </span>
          <div class="title">
            <h4>{{ awardList.productName }}</h4>
            <h6>奖品等级 {{ awardList.awardLevel }}</h6>
            <p>兑奖码：{{ awardList.lotteryNum }}</p>
          </div>
          <div></div>
        </div>
        <div class="card-info">
          <p>姓名：{{ awardList.lotteryUserId.username }}</p>
          <p>电话：{{ awardList.lotteryUserId.mobilePhone }}</p>
          <p>地址：{{ awardList.lotteryUserId.address }}</p>
        </div>
        <div class="card-bottom">
          <p>
            <span>
              抽奖时间：{{ awardList.drawTime | date: 'yyyy-MM-dd HH:mm' }}
            </span>
            <span class="red">
              剩余领奖时间：{{ remainingTime | date: 'HH:mm:ss' }}
            </span>
          </p>
          <a routerLink="/info">领 取</a>
        </div>
      </div>
      <div class="tip">
        <b>使用说明</b>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
          suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
          lacus vel facilisis.
        </p>
      </div>
    </div>
  </div>
</ion-content>
