<ion-content>
  <div class="content">
    <div class="title">
      <h2>中奖用户信息</h2>
      <h4>请填写正确的用户信息</h4>
    </div>
    <div class="card">
      <form [formGroup]="formModel" (submit)="onsubmit(formModel.value)">
        <div>
          <label><ion-icon name="person"></ion-icon></label>
          <input placeholder="请填写您的姓名" formControlName="username" />
        </div>
        <div>
          <label><ion-icon name="call"></ion-icon></label>
          <input
            type="number"
            placeholder="请填写您的电话"
            formControlName="mobilePhone"
          />
        </div>
        <div>
          <label><ion-icon name="pin"></ion-icon></label>
          <input placeholder="请填写您的地址" formControlName="address" />
        </div>
        <button type="submit">提 交</button>
      </form>
    </div>
    <div class="pop-wrap" [ngClass]="{ show: popShow }">
      <div class="pop">
        <span (click)="closePop()"></span>
        <h2>提交成功</h2>
        <p>我们将尽快安排发货，请耐心等待。</p>
        <div class="btn-box">
          <a routerLink="/award">确定</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
