<ion-content>
  <div class="content">
    <div class="title">
      <h2>中奖用户信息</h2>
      <h4>请填写正确的用户信息</h4>
    </div>
    <div class="card">
      <form ngForm (ngSubmit)="onSubmit($event)">
        <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input placeholder="请填写您的姓名"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="call"></ion-icon></ion-label>
          <ion-input type="number" placeholder="请填写您的电话"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="pin"></ion-icon></ion-label>
          <ion-input placeholder="请填写您的地址"></ion-input>
        </ion-item>
        <button type="submit">提 交</button>
      </form>
    </div>
    <div class="pop-wrap">
      <div class="pop">
        <h2>提交成功</h2>
        <p>我们将尽快安排发货，请耐心等待。</p>
        <div class="btn-box">
          <a href="">确定</a>
          <a href="">分享</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
