<ion-content>
  <div class="content">
    <div class="mv">
      <vg-player
        class="video-container"
        (onPlayerReady)="onPlayerReady($event)"
      >
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>
        <video
          [vgMedia]="media"
          #media
          playsinline
          webkit-playsinline
          playsinline="true"
          x5-video-player-type="h5"
          x5-video-player-fullscreen="true"
          x5-video-orientation="portrait"
          width="100%"
          height="100%"
          poster
          [ngSwitch]="scenceId"
        >
          <source
            *ngSwitchDefault
            src="assets/video/landlord.mp4"
            type="video/mp4"
          />
          <source
            *ngSwitchCase="1"
            src="assets/video/grandpa.mp4"
            type="video/mp4"
          />
          <source
            *ngSwitchCase="2"
            src="assets/video/accountant.mp4"
            type="video/mp4"
          />
        </video>
      </vg-player>
      <!-- <vg-player
        class="video-container"
        (onPlayerReady)="onPlayerReadyAudio($event)"
        id="music"
        οnkeydοwn="if(event.keyCode==13){return false;}"
      >
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>
        <video
          [vgMedia]="audio"
          #audio
          preload
          playsinline
          webkit-playsinline
          loop
          [ngSwitch]="scenceId"
        >
          <source
            src="assets/audio/landlord.mp3"
            type="audio/mp3"
            *ngSwitchDefault
          />
          <source
            src="assets/audio/grandpa.mp3"
            type="audio/mp3"
            *ngSwitchCase="1"
          />
          <source
            src="assets/audio/accountant.mp3"
            type="audio/mp3"
            *ngSwitchCase="2"
          />
        </video>
      </vg-player> -->
      <div
        [ngClass]="{ mask: true, show: !firstFlag }"
        (click)="onVideoClick()"
      ></div>
      <!-- <div [ngClass]="{ 'mask-wrap': true, show: showBtn && !skipBtn }">
        <div class="btn-box">
          <div class="button" (click)="continue()">继续</div>
          <div class="button" (click)="skip()">跳过</div>
        </div>
      </div> -->
    </div>
  </div>
  <!-- <app-music
    [scenceId]="scenceId"
    id="app-music"
    ontouchmove="return false;"
  ></app-music> -->
</ion-content>
