<ion-content>
  <div class="content">
    <!-- <audio
      src="../../assets/audio/bgm.mp3"
      id="music"
      preload
      autoplay
      loop
    ></audio> -->
    <div class="top-btn" (click)="toBadge()" id="badge">徽章</div>
    <div class="top-btn" routerLink="/award" id="award">奖励</div>
    <div class="text">
      <div class="l1"></div>
      <div class="l2">
        <span class="lantern left"></span>
        <span class="lantern right"></span>
      </div>
      <div class="l3"></div>
      <div class="l4"></div>
      <div class="l5"></div>
      <div class="l6"></div>
      <div class="l7"></div>
      <div class="l8"></div>
      <div class="l9"></div>
    </div>
    <div class="character p1"></div>
    <div class="character p2"></div>
    <div class="character p3"></div>
    <div class="btn-wrap">
      <div class="btn" routerLink="/scene/0">包租婆</div>
      <div class="btn" routerLink="/scene/1">退休老大爷</div>
      <div class="btn" routerLink="/scene/2">会计师</div>
    </div>
  </div>
</ion-content>
