<ion-content>
  <div class="content">
    <div class="text">
      <div class="l1"></div>
      <div class="l2"></div>
      <div class="l3"></div>
      <div class="l4"></div>
      <div class="l5"></div>
      <div class="l6"></div>
      <div class="l7"></div>
      <div class="l8"></div>
      <div class="l9"></div>
      <span></span>
    </div>
    <div class="character p1"></div>
    <div class="character p2"></div>
    <div class="character p3"></div>
    <div class="btn-wrap">
      <div class="btn" (click)="jump(0)">包租婆</div>
      <div class="btn" (click)="jump(1)">退休老大爷</div>
      <div class="btn" (click)="jump(2)">会计师</div>
    </div>
  </div>
</ion-content>
